/* ********************** */
/* Autocomplete
/* ********************** */

.autocomplete-suggestions {
  margin-top: 4px;
  background-color: rgba(221,221,221,0.9);
  border-radius: 4px;
  overflow: auto;
  max-height: 70% !important;
  line-height: 1.33;
}

.autocomplete-group {
  display: block;
  padding: 0.25em 0.5em;
  font-size: 1.17em;
}

.autocomplete-group ~ .autocomplete-group {
  padding-top: 1em;
}

.autocomplete-suggestion {
  padding: 0.25em 1em;
  cursor: pointer;
}

.autocomplete-suggestion.autocomplete-selected {
  background-color: rgba(255,255,255,0.5);
}

.autocomplete-suggestion .autocomplete-value {
  display: block;
}

.autocomplete-suggestion .autocomplete-info {
  display: block;
  opacity: 0.5;
}

.autocomplete-suggestions mark {
  padding: 0;
}

.autocomplete-search {
  padding: 0.25em 0.5em 1em;
}

.autocomplete-no-suggestion {
  padding: 0.25em 0.5em;
  opacity: 0.5;
  font-style: italic;
}
